body{background-color:rgb(245, 174, 186);}
h1{font-size: 50px; color:rgb(92, 13, 13)}
p{font-size:20px; margin-bottom:40px;}
h1,p{text-align: center;}
.info{display:flex;justify-content: center;}
#homepage, #photo, #contact{margin:20px; padding:10px;}
a:hover{color:blue; text-decoration:underline}
a{color:rgb(102, 14, 14); text-decoration: none;}
a:visited{color:rgba(87, 83, 83, 0.37)}
.image{display:flex; justify-content: center;}